# Android / Gradle
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Keystore
*.jks
*.keystore

# Generated
app/build/

# Build-Logs
build_log.txt
